<div class="trust-band">
  <div class="trust-inner">
    <div class="trust-label">Organismes certificateurs</div>
    <div class="trust-logos">
      <div class="trust-logo-item">
        <%# <%= image_tag "qualiopi.png", class: "trust-img qualiopi-img", alt: "Qualiopi" %> %>
      </div>
      <div class="trust-divider"></div>
      <div class="trust-logo-item">
        <%# <%= image_tag "qualianor.png", class: "trust-img qualianor-img", alt: "Qualianor" %> %>
      </div>
    </div>
    <div class="trust-note">
      Certification qualité délivrée au titre de la catégorie <strong>Action de formation</strong>
    </div>
  </div>
</div>
