<%# app/views/platform/supports/edit.html.erb %>
<% content_for :title, "Modifier — #{@support.titre}" %>

<div class="topbar">
  <h1 class="topbar-title">Modifier <em><%= truncate(@support.titre, length: 40) %></em></h1>
  <%= link_to platform_support_path(@support), class: "btn bo bs" do %>
    ← Retour
  <% end %>
</div>

<div class="vp">
  <div class="card cp gen-form-wrap">
    <%= render "form", support: @support %>
  </div>
</div>
